@import url("./controller.css");

.file_manager_container {
    background-color: #f4f7f6;
    margin-top: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 70vw;
    overflow: auto;
}

.file_manager .file a:hover .hover,
.file_manager .file {
    display: block;
}

.file_manager .file-info small {
    display: flex;
    gap: 5px;
}

.file_manager .file {
    padding: 0 !important;
    position: relative;
    border-radius: 0.55rem;
    overflow: hidden;
}

.file_manager .file .icon {
    text-align: center;
}

.file_manager .file .image,
.file_manager .file .icon {
    max-height: 180px;
    overflow: hidden;
    background-size: cover;
    background-position: top;
}

.file_manager .file .hover {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    transition: all 0.2s ease-in-out;
}

.file_manager .file a:hover .hover {
    transition: all 0.2s ease-in-out;
}

.file_manager .file .icon {
    position: relative;
    padding: 15px 10px;
    display: table;
    width: 100%;
}

.file_manager .file .icon i {
    display: table-cell;
    font-size: 30px;
    vertical-align: middle;
    color: #777;
    line-height: 100px;
}

.file_manager .file .file-info {
    padding: 10px;
    border-top: 1px solid #f7f7f7;
}

.file-info > #file-name > span {
    cursor: pointer;
}

.file-info > #file-name > span:hover {
    color: red;
}

.file_manager .file-view span {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.file_manager .file .file-info small .date {
    float: right;
}

.folder {
    padding: 20px;
    display: block;
    color: #777;
}

.file_manager_footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    margin: 1rem;
}

.file_manager_footer #addFile_label {
    display: inline-block;
    text-align: right;
}

.file_manager_footer input {
    height: 100%;
}

@media only screen and (max-width: 992px) {
    .file_manager .nav-tabs {
        padding-left: 0;
        padding-right: 0;
    }
    .file_manager .nav-tabs .nav-item {
        display: inline-block;
    }
}

.file_manager #card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1rem;
    overflow: auto;
}

.file_manager .card_wrapper {
    position: relative;
    overflow: hidden;
}

.file_manager .card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    max-width: 100%;
    height: auto;
    background: #fff;
    transition: 0.5s;
    margin-bottom: 30px;
    border-radius: 0.55rem;
    position: relative;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

a:hover {
    text-decoration: none;
}
